* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.header {
  padding: 28px 0;
  width: 100%;
}
.header-container {
  /* max-width: 1140px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0 30px 16px;
}

.block-top {
  background: url(../images/Bitmap.jpg) no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  width: 100%;
  height: 100vh;
}
.block-top .container {
}
.container-hero {
  color: #fff;
  max-width: 616px;
  margin: 0;
  padding: 0 0 50px 16px;
  margin-top: 130px;
}
.logo-link {
  display: block;
}
.burger {
  width: 40px;
  height: 40px;
  background-color: #f5f6f7;
  border-radius: 50%;
  border: 0;
}
.text-up {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.23;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}
.text-down {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin-bottom: 45px;
}
.touch {
  color: #ffd723;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  padding: 0 0 0 12px;
}
.touch .play-svg {
  fill: #ffd723;
}
.best-way {
  color: #4d533c;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.28;
  max-width: 607px;
  margin-top: 150px;
  margin-bottom: 60px;
}
.best-waylist-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 255px;
  padding: 27px 30px 36px;
}
.best-item-title {
  color: #4d533c;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 183px;
}
.best-waylist {
  display: flex;
  gap: 30px;
}
.best-item-text {
  color: rgba(33, 56, 66, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  margin-bottom: 56px;
}
.best-item-text:hover {
  font-weight: 400;
}
.read-more {
  margin-top: auto;
  color: #d4d6d4;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.read-more:hover {
  color: #ffd723;
}
.read-more-svg {
  fill: #d4d6d4;
}
.read-more:hover > .read-more-svg {
  fill: #ffd723;
}
